* {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: beige;
  padding: 20px;
  font-size: 2em;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.header {
  background-color: rgb(91, 163, 124);
}

.main {
  background-color: rgb(14, 191, 197);
}

.footer {
  background-color: rgb(31, 241, 224);
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.site_sections {
  background-color: beige;
  height: auto;
  width: auto;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 40px;
  text-align: center;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 250px;
  justify-content: center;
}

.main_section {
  background-color: rgba(38, 38, 148, 0.904);
  width: 300px;
  height: 150px;
  margin: 10px;
  color: beige;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  /*line-height: 4.5em;*/
  box-sizing: border-box;
  padding-top: 60px;
}
