.title {
    text-transform: uppercase;
    text-align: center;
    color: beige;
}

.header {
    background-color: rgb(91, 163, 124);
    cj
}

.site_sections {
    background-color: beige;
    width: 7vw;
    height: 4vh;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
}

.navigation {
    display: flex;
    gap: 40px;
}